<div class="panel panel-default">
      <div class="panel-heading">Cabecera pagina</div>
      <div class="panel-body">Nombre oferta y logo empresa</div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Resumen oferta</h3>
      </div>
      <div class="panel-body">
        <h3>Título oferta</h3>
        <ul class="list-group">
            <li class="list-group-item">Provincia</li>
            <li class="list-group-item">Funciones</li>
            <li class="list-group-item">Jornada</li>
            <li class="list-group-item">Salario</li>
            <li class="list-group-item">Tipo contrato</li>
            <li class="list-group-item">Fecha publicación</li>
        </ul>           
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Descripción oferta</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">Perfil del candidato</li>
            <li class="list-group-item">Tecnología</li>
            <li class="list-group-item">Funciones</li>
            <li class="list-group-item">Provincia</li>
            <li class="list-group-item">Datos del puesto</li>
            <li class="list-group-item">Formación mínima</li>
            <li class="list-group-item">Experiencia</li>
            <li class="list-group-item">Nivel profesional</li>
            <li class="list-group-item">Tipo contrato</li>
            <li class="list-group-item">Jornada</li>
        </ul>       
        
        
     </div>
      <button type="button" id="addButton"  class="btn btn-success">Inscribirme a esta oferta</button> 
    </div>
       
    <button type="button" id="removeButton"  class="btn btn-lg btn-danger">
    Eliminar Oferta
    </button>
        

    <button type="button" id="editButton"  class="btn btn-lg btn-warning">
    Editar Oferta
    </button>
