<div class="row">
    <div class="col-md-12">
        <form [formGroup]="formularioOferta" (ngSubmit)="enviarFormulario()">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success" [disabled]="!formularioOferta
.valid">Guardar</button>
                    <a class="btn btn-danger">Cancelar</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" class="form-control" formControlName="nombre"> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="imagen-url">Puesto</label>
                        <input type="text" class="form-control" id="puesto" formControlName="puesto" #puesto> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="descripcion">Provincia</label>
                        <textarea type="text" id="provincia" rows="6" class="form-control" formControlName="provincia"#provincia></textarea>                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="imagen-url">Descripcion</label>
                        <input type="text" class="form-control" id="descripcion" formControlName="descripcion" #descripcion> </div>
                </div>
            </div>
        </form>
    </div>
</div>