<div class="row">
  <div class="col-md-12">
    <form [formGroup]="formularioOferta" (ngSubmit)="enviarFormulario()">
      <h2>Editar oferta</h2>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="nombre">Nombre de empresa</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre" #nombre> </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="imagen-url">Imagen</label>
            <input type="text" class="form-control" id="imagenurl" formControlName="imagenurl" #imagenurl> </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="imagen-url">Puesto de trabajo</label>
            <input type="text" class="form-control" id="puesto" formControlName="puesto" #puesto>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="fecha">Fecha de publicación</label>
            <textarea type="text" id="fecha" rows="6" class="form-control" formControlName="fecha" #fecha></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="provincia">Área geográfica</label>
            <textarea type="text" id="provincia" rows="6" class="form-control" formControlName="provincia" #provincia></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="salario">Salario</label>
            <select class="form-control" id="salario" formControlName="salario" #salario>
              <option>18.000 - 24.000€ bruto/año</option>
              <option>24.000 - 30.000€ bruto/año</option>
              <option>30.000 - 36.000€ bruto/año</option>
              <option>A determinar</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="experiencia">Experiencia</label>
            <select class="form-control" id="experiencia" formControlName="experiencia" #experiencia>
            <option>Sin experiencia</option>
            <option>Menos de 1 año</option>
            <option>Menos de 3 años</option>
            <option>Más de 5 años</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="contrato">Tipo de contrato</label>
            <select class="form-control" id="contrato" formControlName="contrato" #contrato>
             <option>Prácticas</option>
            <option>Temporal</option>
            <option>Indefinido</option>
            <option>Obra/servicio</option>
            <option>Freelance</option>
            <option>A determinar</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="requisitos">Requisitos mínimos</label>
            <textarea type="text" id="requisitos" rows="6" class="form-control" formControlName="requisitos" #requisitos></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea type="text" id="descripcion" rows="6" class="form-control" formControlName="descripcion" #descripcion></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="vacantes">Número de vacantes</label>
            <textarea type="text" id="descripcion" rows="6" class="form-control" formControlName="vacantes" #vacantes></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="horario">Horario</label>
            <select class="form-control" id="horario" formControlName="horario" #horario>
            <option>Jornada Completa</option>
            <option>Media Jornada</option>
            <option>Intensivo mañana</option>
            <option>Intensivo tarde</option>
            <option>Por horas</option>
            <option>A determinar</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="estudios">Estudios mínimos</label>
            <select class="form-control" id="estudios" formControlName="estudios" #estudios>
            <option>Ingeniería</option>
            <option>Ingenería Técnica</option>
            <option>Bachillerato</option>
            <option>Módulo FP2</option>
            <option>Módulo FP1</option>
            <option>E.S.O.</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="otros">Otros datos</label>
            <textarea type="text" id="otros" rows="6" class="form-control" formControlName="otros" #otros></textarea>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success" [disabled]="!formularioOferta.valid">Guardar</button>
          <a [routerLink]="['/global/lista']" class="btn btn-danger">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>