@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway');

form{
    border: 1px solid #8DC63F;
    box-shadow: 0 0 2px 1px #8DC63F inset;
    background-color:#f1f1f1;
    padding: 10px 50px 20px 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    margin-top: 130px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 110px;
    box-shadow: 5px 5px 5px #808080;
    
}

.btn.btn-success{
    padding: 10px 20px;
    background-color: #808080;
    color: #f1f1f1;
    border-radius:0;
    border: none;
}
.btn.btn-success:hover {
    background-color: #8DC63F;
    box-shadow: 0 0 2px 1px #808080 inset;
    color: #000;
    opacity:0.85;
}
.btn.btn-danger{
    padding: 10px 20px;
    background-color: #808080;
    color: #f1f1f1;
    border-radius:0;
    border: none;
}
.btn.btn-danger:hover {
    background-color: #8DC63F;
    box-shadow: 0 0 2px 1px #808080 inset;
    color: #000;
    opacity:0.85;
}