@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway');

#contenedor_filtro{
    float:left;
    width: 18%;
    height: 3000px;
    background: #f1f1f1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f1f1f1,white, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f1f1f1,white, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f1f1f1,white, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f1f1f1,white, white); /* Standard syntax */
    font-family: 'Josefin Sans', sans-serif;
    padding:10px 10px 10px 20px;
}


h4{
    font-weight:bold;
    color: #8DC63F;
    margin: 10px;
    font-size: 1.5 em;
    text-decoration-line: underline;
}

p{
    font-weight:bold;
}

input{
    color: #8DC63F;
    text-align: Center;
}

.btn {
    border-color: #8DC63F;
    background-color: #808080;
    color: #f1f1f1;
    border-radius: 100px ;
    transition: .2s;
   
}

.btn:hover {
    background-color: #8DC63F;
    color: #000;
}