@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway');

#contenedor_filtro{
    display:block;
    float:left;
    width: 18%;
    background-color: #f1f1f1 ;
    box-shadow: 0 0 2px 1px #8DC63F inset;
    margin:auto;
    padding:0px;
    font-family: 'Josefin Sans', sans-serif;
}

#contenido_filtro{
    margin:auto;
    padding:10px 10px 10px 20px;
}
#buscador{
    padding:10px 20px;
}

h4{
    font-weight:bold;
    color: #8DC63F;
    margin: 10px;
    padding: 20px 0 0 30px;
   
    font-size: 1.5 em;
    text-decoration-line: underline;
}

p{
    font-weight:bold;
}

input{
    color: #8DC63F;
    text-align: Center;
}

.btn {
    border-color: #333;
    padding: 5px 10px;
    background-color: #8DC63F;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s; 
    width:100px; 
}

.btn:hover {
    background-color: #333;
    color: #f1f1f;
}