<div id="contenedor_filtro">
  <h4>Filtro de búsqueda</h4>
  <div id="contenido_filtro">
  
    <div id="buscador">
                
        <p><br>Puesto ofertado:<br></p>
          <input type="checkbox" class="fecha">  Programador Junior<br>
          <input type="checkbox" class="fecha">  Programador Senior<br>
          <input type="checkbox" class="fecha">  Maquetador<br>
          <input type="checkbox" class="fecha">  Arquitecto Web<br>
          <br>
          <button type="button" class="btn btn-default btn-sm " #search>Buscar</button>
    <hr>
        <p>Nivel de estudios:</p>
          <input type="checkbox" class="fecha">  Ingeniero<br>
          <input type="checkbox" class="fecha">  Ingeniero Técnico<br>
          <input type="checkbox" class="fecha">  Grado Superior<br>
          <input type="checkbox" class="fecha">  Bachillerato<br>
         
          <br>
          <button type="button" class="btn btn-default btn-sm " #search>Buscar</button>
  <hr>
        <p>Tipo de contrato:</p>
          <input type="checkbox" class="fecha">  Prácticas<br>
          <input type="checkbox" class="fecha">  Temporal<br>
          <input type="checkbox" class="fecha">  Indefinido<br>
          <input type="checkbox" class="fecha">  Obra/servicio<br>
          <input type="checkbox" class="fecha">  Freelance<br>
         
          <br>
          <button type="button" class="btn btn-default btn-sm " #search>Buscar</button>

   <hr>
        <p>Experiencia:</p>
          <input type="checkbox" class="fecha">  Sin experiencia<br>
          <input type="checkbox" class="fecha">  Menos de 1 año<br>
          <input type="checkbox" class="fecha">  Más de 3 años<br>
          <input type="checkbox" class="fecha">  Más de 5 años<br>
          <br>
          <button type="button" class="btn btn-default btn-sm " #search>Buscar</button>

    <hr>
        <p>Salario:</p>
          <input type="checkbox" class="fecha">  18.000 - 24.000 € <br>
          <input type="checkbox" class="fecha"> 24.000 - 30.000 € <br>
          <input type="checkbox" class="fecha">  30.000 - 36.000 € <br>
          <br>
          <button type="button" class="btn btn-default btn-sm " #search>Buscar</button>
    </div>
   
  </div>
    
</div>
