<div *ngIf="(!check&&!check2)||((oferta.puesto=='Programador senior')&&(check2)&&!(check))||((oferta.puesto=='Programador junior')&&(!check2)&&(check))||(((oferta.puesto=='Programador junior')||(oferta.puesto=='Programador senior'))&&(check2)&&(check))">
<div class="panel panel-default">
  <div class="panel-heading">
    <img src="{{oferta.imagenurl}}" alt="" class="img-responsive pull-right">
    <h2 >{{oferta.puesto}}</h2>
    <h5>{{oferta.nombre}}</h5>

  </div>
  <div class="panel-body">
    <p>{{oferta.descripcioncorta}}</p>
    <hr>
    <p>Zona: {{oferta.provincia}}  |  Salario: {{oferta.salario}}
      <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" [attr.data-target]="'#myModal' + oferta.nombre">Descripcion Completa</button></p>
      <span class="label label-success">contrato {{oferta.contrato}}</span>
      <span class="label label-info">vacantes {{oferta.vacantes}}</span>
  </div>
  <div [id]="'myModal' + oferta.nombre" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{oferta.puesto}}</h4>
        </div>
        <div class="modal-body">
              <img src="{{oferta.imagenurl}}" alt="" class="img-responsive pull-right">
          <li><b>Fecha de publicación: </b>{{oferta.fecha}}
            <li><b>Provincia: </b>{{oferta.provincia}} </li>
            <li><b>Experiencia mínima: </b> {{oferta.experiencia}}</li>
            <li><b>Salario: </b>{{oferta.salario}}</li>
            <li><b>Tipo de contrato: </b> {{oferta.contrato}}</li>
            <p><b>{{oferta.descripcion}}</b></p><br>
            <p><b>Requisitos mínimos: </b>{{oferta.requisitos}}</p><br>
            <p><b>Estudios requeridos: </b>{{oferta.estudios}}</p><br>
            <p><b>Horario:</b> {{oferta.horario}}</p><br>
            <p><b>Número de vacantes: </b>{{oferta.vacantes}}</p><br>
            <p><b>Otros: </b>{{oferta.otros}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" (click)="navegarEditar(oferta)" data-dismiss="modal">Editar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <a class="up-arrow" data-toggle="tooltip" title="¿Estas seguro?"><button type="button" class="btn btn-danger" (click)="eliminaOferta(oferta)" data-dismiss="modal">Eliminar</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>