

#inicio{
    padding-top: 250px;
    background-color: black;
    color: #ffffff;
}

img{
    width: 15%;

}

.logo {
    width: 30%;
    padding-left:40px;
}


.panel {
    border: 1px solid #8DC63F; 
    border-radius:0;
    transition: box-shadow 0.5s;
    margin-bottom: 110px;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-heading {
    color: gray;
    background-color: #f1f1f1;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#objetivo{
    background: #f1f1f1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f1f1f1,white, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f1f1f1,white, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f1f1f1,white, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white,#f1f1f1); /* Standard syntax */
    color: black;
}

p{
    margin-left: 150px;
    margin-right: 150px;
}

.icon{
    width: 10%;

}

.banner{
    padding-top: 10px;
    width: 100%; 
}
.banner_dos{
    padding-top: 10px;
    width: 70%;
}

.banner_tres{
    padding-top: 10px;
    width: 30%;
}

.icono{
    width: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    width: 50%;
    margin-bottom: 100px;
}

.card:hover{
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.container {
    padding: 0 16px;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.imagencontacto{
    border-radius: 50%;
}

.panel.panel-default.text-center{
    margin-left: 20px;
    margin-right: 20px;
}