
<div id="inicio" class="jumbotron text-center">
    <img class="busqueda" src="./assets/digital.gif">
    <h1>¿ Busquedas de empleo ?</h1>
    <span class="glyphicon glyphicon-chevron-down"></span>
</div>
<div id="objetivo" class="jumbotron text-justify text-center">
    <h2 class="text-center">La investigación</h2>
    <hr>
    <p>Teniendo en cuenta los tipos de empleos que buscan las empresas actualmente se evidencia la necesidad de la creación de portales de empleo específicos para los profesionales digitales, que ayudarian a la busqueda de empleo en este sector, ya que existe una oferta laboral que no está siendo cubierta</p>
    <img class="banner" src="./assets/banner.png">
    
</div>
<div id="objetivo" class="jumbotron text-justify text-center">
    <h2 class="text-center"> El proyecto</h2>
    <hr>
    <p>El objetivo de nuestro proyecto principalmente, habiendo comentado lo anterior, consistio en el desarrollo de una web de búsqueda de trabajo específica para el sector
        digital, por lo tanto se creo todo un concepto de diseño basado en esto, creando a su vez todo el material para que la experiencia del usuario sea lo mas sencilla posible.
        <br> 
        Programada íntegramente en lenguaje Angular 2, nuestra web esperamos sea de ayuda a los profesionales de estas areas. 
        En esta presentación, organizada por el Programa de Empleabilidad Joven Fundación Telefónica, se mostrará en detalle dicho proyecto desde un punto de vista funcional y técnico.</p>
    <img class="banner_dos" src="./assets/banner2.png">
</div>
<div id="objetivo" class="jumbotron text-center">
    <img class="tecnologia" src="./assets/tecno.gif">
    <h2>Tecnologias utilizadas</h2>
    <hr>
       <br>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <img class="icono" src="./assets/angular.png">
            <h4>Angular 2</h4>
        </div>
        <div class="col-sm-4">
            <img class="icono" src="./assets/boot.png">
            <h4>Bootstrap</h4>
        </div>
        <div class="col-sm-4">
            <img class="icono" src="./assets/terminal.png">
            <h4>Consola</h4>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <img class="icono" src="./assets/js.ico">
            <h4>Javascript</h4>
        </div>
        <div class="col-sm-4">
            <img class="icono" src="./assets/html.jpg">
            <h4>HTML5</h4>
        </div>
        <div class="col-sm-4">
            <img class="icono" src="./assets/css.jpg">
            <h4>CSS</h4>
        </div>
    </div>
    <br>
    <br>
</div>
<div id="objetivo" class="jumbotron text-justify text-center">
<div class="container-fluid">
    <div class="text-center">
        <img class="banner_tres" src="./assets/equipo.png">
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4>Ana Púa</h4>
                </div>
                <div class="panel-body">
                    <img class="imagencontacto" src="./assets/ana.jpg" style="width:50%">
                    <hr>
                    <a href="https://www.linkedin.com/in/ana-púa-2ba001143"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/anaSusana"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4>Javier Sacarrera</h4>
                </div>
                <div class="panel-body">
                    <img class="imagencontacto" src="./assets/javier.jpg" style="width:50%">
                    <hr>
                    <a href="https://www.linkedin.com/in/javiersacarrera"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/JavierSacarrera"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4>Margarita Martín</h4>
                </div>
                <div class="panel-body">
                    <img class="imagencontacto" src="./assets/margarita.jpg" style="width:50%">
                    <hr>
                    <a href="https://www.linkedin.com/in/margarita-martín-de-arce-a54b451b"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/Marga34"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4>Alejandra Pedroza</h4>
                </div>
                <div class="panel-body">
                    <img class="imagencontacto" src="./assets/alejandra.jpg" style="width:50%">
                    <hr>
                    <a href="https://www.linkedin.com/in/alejandrapedroza"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/ale1900"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>