/*h1{
    margin-top: 150px;
}

h3{
    margin-top: 20px;
}

p{
    margin-top: 20px;
}*/

p{
    margin-top: 200px;
}

#ofertadescr{
    margin: 150px;
}

.panel panel-default{
    background-color: grey;
}
      