<div class="lista">
    <div id="panel-buscador">
        <form action="" class="search-form">
            
            <div class="form-group has-feedback">

                <label for="search" class="sr-only">Buscar</label>
                <input type="text" class="form-control" name="search" id="search" placeholder="buscar" autocomplete="off" #search>
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                
            </div>

        </form>
 
    </div>
    <app-filtro></app-filtro>
    <app-oferta *ngFor="let oferta of ofertas | miPipe:search.value" [oferta]="oferta"></app-oferta>
</div>