
.lista{
    /*margin-top: 130px;
    margin-left: 150px;
    margin-right: 50px;
    margin-bottom: 130px;*/
    margin: 130px 50px 130px 50px;
    
}

/*----Estilos Buscador---*/
 .panel-buscador{
    display:block;
    float:right;
    font-family: 'Josefin Sans', sans-serif;
    padding:5px 50px 5px 50px;
    margin:0 0 20px 10px ;
    background-color:#8DC63F; 
    box-shadow: 0 0 2px 1px #fff inset;
    width: 80%;
}

 .search-form .form-group {
  float: right;
  transition: all 0.35s, border-radius 0s;
  width: 200px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-right: 10px;
}