@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway');

footer {
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
    color: gray;
    left:0px;
    width: 100%;
    right:0px;
    bottom: 0;
    position: fixed;
    height: 70px;
}

.icon{
    position: absolute;
    max-width: 4%;
    margin-top: 9px;
}
