<form [formGroup]="miFormulario" (ngSubmit)="enviarFormulario()">
  <h2>Formulario</h2>


    <div class="row">

      <div class="col-md-3">
        <div class="form-group">
          <label for="nombre">Nombre de empresa</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ej: Teléfonica" formControlName="nombre">
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="password">ID</label>
          <input type="password" class="form-control" id="password" placeholder="Ej: marga34" formControlName="password">
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="puesto">Puesto de trabajo</label>
          <input type="text" class="form-control" id="Puesto" placeholder="Ej: Programador junior" formControlName="puesto">
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="fecha">Fecha de publicación</label>
          <input type="text" class="form-control" id="Fecha" placeholder="Ej: 11/05/2017" formControlName="fecha">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3">
        <div class="form-group">
          <label for="provincia">Área geográfica</label>
          <input type="text" class="form-control" id="Provincia" placeholder="Ej: Madrid, Madrid (España)" formControlName="provincia"
           >
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="salario">Salario</label>
          <select class="form-control" formControlName="salario">
              <option>18.000 - 24.000€ bruto/año</option>
              <option>24.000 - 30.000€ bruto/año</option>
              <option>30.000 - 36.000€ bruto/año</option>
            </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="experiencia">Experiencia</label>
          <select class="form-control" formControlName="experiencia">
            <option>Sin experiencia</option>
            <option>Menos de 3 años</option>
            <option>Más de 5 años</option>
          </select>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="contrato">Tipo de contrato</label>
          <select class="form-control" formControlName="contrato">
            <option>Temporal</option>
            <option>Indefinido</option>
            <option>Fijo</option>
          </select>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="form-group">
        <label for="requisitos">Requisitos mínimos</label>
        <div class="radio" formControlName="requisitos">
          <label><input type="radio" value="option1">HTML5</label>
          <label><input type="radio" value="option1">CSS</label>
          <label><input type="radio" value="option1">JavaScript</label>
          <label><input type="radio" value="option1">Angular Cli</label>
          <label><input type="radio" value="option1">JQuery</label>
          <label><input type="radio" value="option1">Java</label>
          <label><input type="radio" value="option1">CSS</label>
        </div>

        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <br>
          <textarea name="mensaje" placeholder="Breve descripción de la oferta laboral" rows="4" cols="130" formControlName="descripcion"></textarea>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="vacantes">Número de vacantes</label>
          <input type="num" class="form-control" id="vacantes" placeholder="Ej: 2" required formControlName="vacantes">
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label for="horario">Horario</label>
          <select class="form-control" formControlName="horario">
            <option>L - J: 9:00 a 18:30, V: 9:00 a 15:00</option>
            <option>L - V: 9:00 a 15:00</option>
          </select>
        </div>
      </div>
    

    <div class="row">
      <div>
        <button type="button" class="btn btn-success" (click)="guardarDato(nombre.value, password.value, puesto.value)">Enviar datos</button>
      </div>
    </div>
  </div>
</form>
