<div class="row">
  <div class="col-md-12">
    <form [formGroup]="miFormulario" (ngSubmit)="guardarDato()" (ngSubmit)="navegarAlaLista()">
      <h2>Agregar oferta de empleo</h2>
      <hr>



      <div class="row">

        <div class="col-md-3">
          <div class="form-group">
            <label for="nombre">Nombre de empresa</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ej: Teléfonica" formControlName="nombre">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="imagenurl">Url imagen</label>
            <input type="text" class="form-control" id="imagenurl">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="puesto">Puesto de trabajo</label>
            <input type="text" class="form-control" id="puesto" placeholder="Ej: Programador junior" formControlName="puesto">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="fecha">Fecha de publicación</label>
            <input type="text" class="form-control" id="fecha" placeholder="Ej: 11/05/2017" formControlName="fecha">
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-3">
          <div class="form-group">
            <label for="provincia">Área geográfica</label>
            <input type="text" class="form-control" id="provincia" placeholder="Ej: Madrid, Madrid (España)" formControlName="provincia">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="salario">Salario</label>
            <select class="form-control" formControlName="salario">
              <option>18.000 - 24.000€ bruto/año</option>
              <option>24.000 - 30.000€ bruto/año</option>
              <option>30.000 - 36.000€ bruto/año</option>
              <option>A determinar</option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="experiencia">Experiencia</label>
            <select class="form-control" formControlName="experiencia">
            <option>Sin experiencia</option>
            <option>Menos de 1 año</option>
            <option>Menos de 3 años</option>
            <option>Más de 5 años</option>
          </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="contrato">Tipo de contrato</label>
            <select class="form-control" formControlName="contrato">
            <option>Prácticas</option>
            <option>Temporal</option>
            <option>Indefinido</option>
            <option>Obra/servicio</option>
            <option>Freelance</option>
            <option>A determinar</option>
          </select>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="requisitos">Requisitos mínimos</label>
            <input type="text" class="form-control" id="requisitos" placeholder="Ej:JV, HTML5, CSS, Angular" formControlName="requisitos">
          </div>
        </div>
      </div>
             <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="descripcioncorta">Resumen</label>
            <textarea type="text" id="descripcioncorta" rows="2" class="form-control" formControlName="descripcioncorta"></textarea>
          </div>
        </div>
      </div>
       <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea type="text" id="descripcion" rows="6" class="form-control" formControlName="descripcion"></textarea>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="vacantes">Número de vacantes</label>
            <input type="num" class="form-control" id="vacantes" placeholder="Ej: 2" required formControlName="vacantes">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="horario">Horario</label>
            <select class="form-control" formControlName="horario">
            <option>Jornada Completa</option>
            <option>Media Jornada</option>
            <option>Intensivo mañana</option>
            <option>Intensivo tarde</option>
            <option>Por horas</option>
            <option>A determinar</option>
          </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="estudios">Estudios mínimos</label>
            <select class="form-control" formControlName="estudios">
            <option>Ingeniería</option>
            <option>Ingenería Técnica</option>
            <option>Bachillerato</option>
            <option>Módulo FP2</option>
            <option>Módulo FP1</option>
            <option>E.S.O.</option>
          </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="otros">Otros datos</label>
            <input type="text" class="form-control" id="otros" placeholder="" formControlName="otros">
          </div>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <button type="submit" class="btn btn-success btn-lg">Guardar Oferta</button>
        </div>
      </div>

    </form>
  </div>
</div>